# =============== #
# Unity generated #
# =============== #
Castlevival/Temp/
Castlevival/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Castlevival/ExportedObj/
Castlevival/obj/
*.svd
*.userprefs
Castlevival/*.csproj
*.pidb
*.suo
Castlevival/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db