Castlevival/Temp
Castlevival/Library/metadata
*.meta
Castlevival/Library/CurrentLayout.dwlt
Castlevival/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
Castlevival/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
Castlevival/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll
Castlevival/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb
Castlevival/Library/ScriptMapper
Castlevival/Library/assetDatabase3
Castlevival/Library/expandedItems
Castlevival/Library/guidmapper
Castlevival/Library/shadercompiler-1.log
